<div class="mt-[2rem] max-w-sm rounded overflow-hidden shadow-lg bg-black" id="<%= dom_id post %>">
   <%= image_tag post.image ,class: " sm:w-full " if post.image.attached? %>
   <div class="px-6 py-4">
    <p class=" text-white font-bold text-xl mb-2">
     
      <%= post.title.capitalize %>
    </p>

    <p class="text-gray-300 text-base">
      
      <%= post.description %>
    </p>
    <p class="text-gray-400 text-base">
      <strong><%= pluralize(post.views,"view") %></strong>
    </p>

   
  
  </div>
</div>

