<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>
  <p>
    <strong><%= pluralize(post.views,"view") %></strong>
  </p>

  <%= image_tag post.image ,class: "w-full h-70" if post.image.attached? %>

  



</div>
